.checkoutGallery {
  padding: 80px 0 0;
  background: url(../../../public/icons/curve1.svg) left -900px top 80% no-repeat,
    url(../../../public/icons/curve2.svg) right -850px top 85% no-repeat;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1243px;
  margin: 0 auto;
  padding: 0 16px;
}

.image {
  margin: 0 6px;
}

@media screen and (max-width: 949px) {
  .checkoutGallery {
    padding: 40px 0 0;
  }
}
